.nav-dark {
  background-color: black;
}
.login-btn:hover {
  background-color: white;
  color: black;
}
.signup-btn:hover {
  color: white;
  background-color: rgb(60, 211, 60);
  border: 1px solid rgb(60, 211, 60);
}
